@model IEnumerable<Product>

    <div class="row pb-3">
        @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6 mb-5">
            <div class="row p-2">
                <div class="col-12 p-1">
                     <a asp-action="Details" asp-route-productId="@product.Id" class="text-decoration-none">
                    <div class="card border-0 p-3 shadow-lg  border-5 rounded card-home">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title text-dark h5 fw-bolder text-uppercase mb-0">@product.Title</p>
                                <p class="card-title text-black-50  ">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 mt-3 pb-2">
                                    Price: 
                                    <span>
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                           
                        </div>

                        <div>
                            <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary  border-0 form-control p-2 fw-bolder">
                                Details
                            </a>
                        </div>
                    </div>
                    </a>
                </div>
            </div>    
        </div>
    }
    </div>